*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: Arial;
    width: 90%;
    margin: auto;
}
header{
    background-image: url(../img/first-bg.jpg);
    background-size: 100% 100%;


    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    height: 525px;
    padding-top: 20px;

}
.header_top{
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}
.graficlogo{
    padding: 5px;
    max-width: 100px;
    box-sizing: border-box;
}
nav{
    margin: auto;
}
.topnav{
   font-size: 14px;
}
.topnav a{
    text-align: center;
    padding: 14px 16px;
}
.topnav a:hover{
    border-bottom: 1px solid #FFD654;
    color: #FFD654;
}
.header_body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.header_body_itm{
    margin-top: 20px;
}
.header_body_itm h2{
    font-size: 28px;
}

.header_body_itm h1{
    font-size: 44px;
}
.header_body_itm .header_btn{
    height: 40px;
    width: 180px;
    background: #FFD654;
    color: #756947;
    border:0px solid transparent;
    border-radius: 5px;
    font-size: 18px;
}
.header_body_itm .header_btn:hover{
    background: #fff;
    color: #D7C000;
    font-weight: 700 ;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main_block{

    border-bottom: 1px solid #CCCCCC;
    width: 100%;

}

.services{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;

  
}
.serv-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.serv-top p {
    margin-top: 10px;
    color: #939393;
}
.serv-body{
    display: flex;
    justify-content: space-around;

}
.serv-body-itm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}
.serv-body-itm p{
    text-align: center;
    color: #939393;
}

.portfolio{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.portf-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.portf-top p{
    margin-top: 10px;
    color: #939393;
}
.portf-body{
    display: flex;
    justify-content: space-between;

}
.portf-body-itm{
    width: 25%;
}

.portf-body-itm img{
    opacity: 0.7;
    border-radius: 10px;
}
.portf-body-itm img:hover{
    opacity: 1;
}


.about{
    flex-basis: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.about-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-top p{
    margin-top: 10px;
    color: #939393;
}

.about-body{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-body-itm{
    width: 50%;
    display: flex;
}
.about-body-itm:nth-child(2n+1) .itm-text{
text-align: right;
}

.itm-text p{
    margin-top: 10px;
    color: #939393;
}

footer{
    height: 100px;
    display: flex;
}
footer h1{
    font-size: 14px;
    margin: auto;
    color: #939393;
    justify-content: center;
}
.toTop{
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #FFD654;
    text-align: center;
    line-height: 50px;
    position: fixed;
    border-radius: 50%;
    font-size: 30px;
    color: #000;

}
.toTop.mPS2id-highlight{
    display: none;
}


.form{
    width: 50%;
    margin: 50px  auto;
}
.feedback-input{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    padding: 13px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom:1px solid #000;
}

textarea{
    width: 100%;
    height: 150px;
    resize: vertical;

}
.button-submit{
    float: left;
    width: 100%;
    border:0px solid transparent;
    cursor: pointer;
    background: #000;
    color: white;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 300;
}
.button-submit:hover{
    background-color: white;
    color: black;
    border:1px solid black;
}
.easy{
    width: 0;
    height: 74px;
    background-color: #fbfbfb;
    transition: 0.3s ease;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: 600px;
}










